body 
{
    background: grey;
    font-size: 1.5em;
}

h1
{
    color: white;
    text-align: center;
}

label, span
{
    font-size: 1.5em;
    padding-right: 1em;
}

#removebutton
{
    width: 200px;
}

#card
{
    width: 100%;
}

#news
{
    font-size: 50%;
}

#main
{
    border: 3px black;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #card {
      height: 100%;
      font-size: 50%;
    }
  }

.js-form
{
    font-size: 1.5em; 
}

.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center; 
}

.flex_center_wrapper
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center'
}

.flex-child-center
{
    width: 70%;
    padding: 10px;
}

.flex_spbtwn_wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center; */
}

.header 
{
    
    /* text-align: center; */
    font-size: 0.5em;
    /* background-color: rgb(0, 87, 154); */
    /* font-family: 'Rancho'; */
    font-weight: 400;
    font-size: 4em;
    color:white;
    /* text-shadow: .1em .1em 0 rgba(0,0,0,0.3); */
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: linear-gradient(to left top, #0774a7, #21749b, #2e7996, #51abce, #c9edfa); */
}

.footer
{
    display: flex;
    text-align: center;
    min-height: 50vh;
    flex-direction: column;
}
.navbar 
{
    background-color: #0e668f;
    padding: 20px;
    text-align: right;
}

#today
{
    font-size: 1em;
}

.weather
{
    /*stitch outline*/
    outline: 2px dashed #98abb9;
    outline-offset: -5px;

    margin: 50px auto;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right top, #0e668f, #5298b8, #5ea3bf, #96c4d7, #c9edfa);

     /*shadow*/
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000;
}